@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');

.text-font{
    font-family: 'Source Code Pro', monospace;
}
.text-font-heading{
    font-family: 'Source Code Pro', monospace;
    font-weight: 600;
}

.navigationbg {
    background: rgb(17,0,158);
background: linear-gradient(175deg, rgba(17,0,158,1) 0%, rgba(0,0,0,1) 46%);
}

.headerbg {
    background: black;
}

.footerbg{
    background: rgb(0,0,0);
background: linear-gradient(175deg, rgba(0,0,0,1) 81%, rgba(17,0,158,1) 91%);
}

/* Developer Section  */
.developer-section-background{
    background: rgb(0,0,0);
background: radial-gradient(circle, rgba(0,0,0,1) 50%, rgba(17,0,158,1) 100%);
}

/* Learn More Button Theme */
.button-background{
    background: #EEEEEE;
}
.button-hover-background:hover{
    background: #393E46;
}
.button-text{
    color: black;
    font-family: 'Source Code Pro', monospace;
}
.button-hover-text:hover{
    color: #FD7014;
    font-family: 'Source Code Pro', monospace;
}

/* Watch video button */
.button2-text{
    color: #FD7014;
}

/* Navbar Menu theme */
.navbar-hamburger-bg{
    background: rgb(0,0,0);
background: linear-gradient(73deg, rgba(0,0,0,1) 72%, rgba(17,0,158,1) 100%);
}
.navbar-menu-text-color{
    color: #EEEEEE;
}
.navbar-menu-hover-text-color:hover{
    color: #FD7014;
}
.hi-button{
    background: rgb(0,0,0);
background: radial-gradient(circle, rgba(0,0,0,1) 13%, rgba(0,4,152,1) 85%);
}
.hi-button:hover{
    background: rgb(0,0,0);
background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,4,152,1) 52%);
}
.footer-menu-hover-text-color:hover{
    color: #FD7014;
}

.faq-question-bg{
    background: #222831;
}


/* Buy Now Button Theme  */

.buynow-button{
    background: #EEEEEE;
    color: black;
    font-family: 'Source Code Pro', monospace;
}
.buynow-button:hover{
    background: rgb(0,0,0);
background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(17,0,158,1) 85%);
color: white;
}
.pdf-button{
    background: rgb(17,0,158);
background: linear-gradient(167deg, rgba(17,0,158,1) 0%, rgba(253,112,20,1) 100%);
    color: black;
}
.pdf-button:hover{
    background: rgb(253,112,20);
background: linear-gradient(106deg, rgba(253,112,20,1) 0%, rgba(17,0,158,1) 100%);
    color: black;
}

.profile-card-bg{
    background: rgb(0,0,0);
background: radial-gradient(circle, rgba(0,0,0,1) 61%, rgba(0,4,152,1) 100%);
}